.sta-table-wrapper{
    display: flex;
    box-shadow: 2px 2px 2px 2px rgb(230, 230, 230);
    background-color: white;
    height: 400px;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    border-radius: 3px;
    overflow: hidden;
    width: 1300px;
}
table{
    border-collapse: collapse;
    border: none;
}

th{
    padding: 30px;
    color:rgb(139, 139, 139);
    font-size: small;
    font-weight: 400 ;
}

td{
    font-size: small;
    text-align: center;
    color: rgb(178, 178, 178);
    padding: 20px;
}

tr{
    border-bottom: 1px solid rgb(214, 214, 214);
}
